#table-box {
	max-width: 900px;
	margin: 30px auto;
}

#myTable_wrapper {
	border: 1px solid #DBDFE4!important;
}
#myTable_filter,
#myTable_info {
	display: none;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border-bottom: 0px;
}

.column {
	min-width: 150px;
}

table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #DBDFE4!important;
}
